includes:
parameters:
  level: 8
  paths:
    - src
    - commands
    - templates
    - index.php
    - cli.php
  ignoreErrors:
    - '#Variable \$kirby might not be defined.#'
    - '#Path in include\(\) "kirby/bootstrap.php" is not a file or it does not exist.#'
    - '#Call to an undefined method Kirby\\CLI\\CLI::#'
  reportUnmatchedIgnoredErrors: false
  bootstrapFiles:
    - vendor/getkirby/cms/bootstrap.php
